@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tic-tac-toe {
  text-align: center;
}

.board {
  width: 309px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.inside {
  position: relative;
}

.cell {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 3px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 40px;
  background-color: #48cae4;
}

.cell:hover {
  opacity: 70%;
}

.cell-x {
  color: #03045e;
}

.cell-o {
  color: #fca311;
}

.label {
  font-size: 20px;
  font-weight: 600;
}

button {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: #0096c7;
  color: #ffffff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-right: 6px;
}

.inside {
  .diagonal-top-left {
    position: absolute;
    width: 400px;
    height: 0px;
    top: 0px;
    left: -67px;
    border-bottom: 5px solid red;
    transform: translateY(155px) translateX(24px) rotate(45deg);
  }
  .diagonal-top-right {
    position: absolute;
    width: 400px;
    height: 0;
    top: 0;
    border-bottom: 5px solid red;
    transform: translateY(155px) translateX(97px) rotate(-45deg);
    left: -139px;
  }
  .horizontal-top {
    position: absolute;
    width: 280px;
    height: 0;
    top: 50px;
    left: 15px;
    border-bottom: 5px solid red;
  }
  .horizontal-middle {
    position: absolute;
    width: 280px;
    height: 0;
    top: 50%;
    left: 15px;
    border-bottom: 5px solid red;
  }
  .horizontal-bottom {
    position: absolute;
    width: 280px;
    height: 0;
    bottom: 50px;
    left: 15px;
    border-bottom: 5px solid red;
  }
  .vertical-start {
    position: absolute;
    width: 0;
    height: 280px;
    top: 15px;
    left: 50px;
    border-right: 5px solid red;
  }
  .vertical-middle {
    position: absolute;
    width: 0;
    height: 280px;
    top: 15px;
    left: 50%;
    border-right: 5px solid red;
  }
  .vertical-end {
    position: absolute;
    width: 0;
    height: 280px;
    top: 15px;
    right: 50px;
    border-right: 5px solid red;
  }
}

/* .inside .diagonal-top-left {
  position: absolute;
  width: 400px;
  height: 0px;
  top: 0px;
  left: -67px;
  border-bottom: 5px solid red;
  transform: translateY(155px) translateX(24px) rotate(45deg);
}
.inside  */
